<div class="hero">
  <div class="container hero__container">
    <div class="hero__image">
      <img src="../../assets/images/hero.png" alt="">
    </div>
    <h1 class="hero__text">
      creative scroll
    </h1>
  </div>
</div>
