<div class="hero">
  <div class="container hero__container">
    <div class="hero__image" data-speed="0.2">
      <img src="../../assets/images/hero.png" alt="">
    </div>
    <h1 class="hero__text" data-speed="0.6" data-lag="0.5">
      creative scroll
    </h1>
  </div>
</div>
